#home {
  background-color: #ffffff;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

#home-flats {
    padding: 100px 0;
    background-color: #ffffff;
}

#home-flats h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
